{% extends 'app' %}

{% block body %}
    <div class="p-10 mx-auto max-w-4xl">
        {% block content_wrapper %}
            {% block content %}{% endblock %}
        {% endblock %}
    </div>
{% endblock %}
